body {
  background-color: rgb(245, 245, 245, 1);
}

canvas {
  width: 100%;
  margin-top: 35px;
}

.icons {
  margin-top: 35px;
  text-align: center;
  color: #121212;
}

.material-icons {
  font-size: 3em !important;
  cursor: pointer;
  border: 2px solid transparent;
}

.selected {
  border: 2px solid black;
}

.player {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.play-button {
  width: 55%;
  border-radius: 6px;
  align-self: center;
  margin-bottom: 25px;
  border: none;
  background-color: #121212;
}

.play-button i {
  color: #FFFFFF;
}

.controls {
  width: 65%;
  text-align: center;
  align-self: center;
  background-color: #121212;
  border-radius: 6px;
}

#volume {
  padding-top: 7px;
}
